
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

body {
    background-color: dimgrey;
}

.background-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background-fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-content {
    width: 1366px;
    margin: 0 auto;
}

.header {
    height: 56px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.4);
}

.header-flex {
    padding: 0 79px;
}

.journey {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.journey:hover {
    color: #01813F;
    cursor: pointer;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg {
    display: flex;
    padding-left: 704px;
    gap: 24px;
}

.svg path {
    stroke: currentColor;
}

.svg-calendar:hover {
    color: #01813F;
    cursor: pointer;
}

.svg-mail:hover {
    color: #01813F;
    cursor: pointer;
}

.svg-compas:hover {
    color: #01813F;
    cursor: pointer;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-left: 24px;
}

.text-green:hover {
    color: #01813F;
    cursor: pointer;
}

input {
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
}

.form {
    display: flex;
    flex-direction: column;
    height: 584px;
    width: 444px;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 0 60px;
    box-shadow: 0 0 5px 2px #0C1927;
    position: relative;
}
.form-text-up {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.sign-up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.log-in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.log-in:hover {
    color: #01813F;
    cursor: pointer;
    text-decoration: underline;
}

.form:before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}

.form-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 0;
    gap: 4px;
}

.button {
    width: 160px;
    display: flex;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
}

.button:hover {
    transform: scale(1.05);
}

.f {
    padding-top: 11px;
    padding-right: 37px;
    padding-left: 16px;
    padding-bottom: 11px;
}

.facebook {
    background-color: #305DB8;
}


.facebook:hover {
    background: #022263;
}

.google {
    background-color: #DF4A32;
}

.g {
    padding-top: 14px;
    padding-right: 38px;
    padding-bottom: 13px;
    padding-left: 10px;
}

.google:hover {
    background: #AB1F09;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    margin-top: 32px;
    margin-bottom: 11px;
    color: #848484;
}

.block span {
    position: relative;
}

.block span:before {
    display: block;
    width:152px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    top: 50%;
    left: 0;

}

.block span::after {
    display: block;
    width:152px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    top: 50%;
    right: 0;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.input {
    width: 322px;
    height: 44px;
    outline: none;
    border: 1px solid #F2F2F2;
    padding: 15px 19px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
}

.input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.input:focus {
    border: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: -3px;
    gap: 10px;
    color: #54de67;
}

input[type=checkbox] {
    display: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.svg-check {
    display: none;
}

.checkbox path {
    stroke: currentColor;
}

.black {
    color: black;
}

.checkbox-wrapper:hover {
    color: #029100;
}

.flex {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.line-hover:hover {
    text-decoration: underline;
}

.form-button-create {
    margin-top: 20px;
}

.button-create {
    display: block;
    width: 324px;
    padding: 16px 99px;
    margin-bottom: 38px;
    font-size: 18px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #3CB878;
    cursor: pointer;
    border: none;
    transition: .5s;
}
.button-create:hover {
    transform: scale(1.05);
    background: #01813F;
}

